* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: beige;
}

h1 {
  color: rgb(145, 135, 42);
}

img {
  width: 400px;
  height: 400px;
}

.sushi-img {
  width: 358px;
  height: auto;
}

h3 {
  color: rgb(171, 160, 60);
}

.nav-list-links, .steps-list {
  color: rgb(196, 183, 71);
}

.steps-list p {
  color: black;
}

.steps-list .tut-links {
  color: darkcyan;
  font-weight: 800;
}

h3 em {
  color: darkolivegreen;
  font-size: 24px;
  font-weight: 800;
}

.source {
  color: darkblue;
}

.main-link {
  font-size: 30px;
  text-align: center;
  color: rgb(204, 184, 11);
}